prune *
recursive-include automationAgent/webdriver *.py
recursive-include automationAgent/webdriver/common *.py
recursive-include automationAgent/webdriver/common/actions *.py
recursive-include automationAgent/webdriver/common/html5 *.py
recursive-include automationAgent/common *.py
recursive-include automationAgent/webdriver/chromium *.py
recursive-include automationAgent/webdriver/chrome *.py
recursive-include automationAgent/webdriver/opera *.py
recursive-include automationAgent/webdriver/phantomjs *.py
recursive-include automationAgent/webdriver/firefox *.py *.xpi *.json
recursive-include automationAgent/webdriver/ie *.py
recursive-include automationAgent/webdriver/edge *.py
recursive-include automationAgent/webdriver/remote *.py *.js
recursive-include automationAgent/webdriver/support *.py
include automationAgent/automationAgent.py
include automationAgent/__init__.py
include CHANGES
include README.rst
include LICENSE
recursive-include automationAgent.egg-info *
